* {
    @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    position: relative;

    @media screen and (max-width:425px) {
        flex-direction: column-reverse;
    }

}

.Main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f3f7;
    width: 100%;
    height: 100%;
    border-left: 0.2px solid rgba(132, 132, 132, .5);

    @media screen and (max-width:425px) {
        border-left: none;
    }
}

.main-form {
    display: flex;
    flex-direction: column;
    width: 240px;
    background: white;
    border-radius: 10px;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);

    .formHeader {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 18px;

        h2 {
            color: #303030;
        }
    }

    .formContent {
        display: flex;
        flex-direction: column;
        padding: 24px 18px;
        width: auto;

        .labelForm {
            font-size: 14px;
            font-weight: bold;
            color: #404040;
            margin-bottom: 4px;
            font-weight: 400;
        }

        .inputForm {
            margin-bottom: 14px;
            border-radius: 10px;
            border: 1px solid #f0f0f0;
            padding: 12px;

        }

        :focus {
            outline: none;
        }



        .submitForm {
            border-radius: 10px;
            background-color: #1e9df7;
            width: 100%;
            color: white;
            border: none;
            padding: 12px 0;
            cursor: pointer;
            margin-top: 10px;
            box-shadow:
                2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
                6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
                12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
                22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
                41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
                100px 100px 80px rgba(0, 0, 0, 0.07);

        }
    }


}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    top: 0;
    left: 0;
    min-width: 280px;
    width: auto;
    flex-direction: column;
    padding: 0 20px;
    background: #f2f3f7;

    @media screen and (max-width:425px) {
        width: 100%;
        flex-direction: row;
        height: 100px;
        padding: 0;
        min-width: none;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 6px;
        color: #fff;
        padding: 18px 0;
        font-weight: 400;
        background: #1d92f8;
        border-radius: 10px;
        margin-top: 24px;

        @media screen and (max-width:425px) {
            display: none;
        }
    }

    .navbar-ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        width: 100%;
        height: auto;

        @media screen and (max-width:425px) {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;
            margin: 0;
        }

        .navbar-li {
            height: 100%;
            width: 100%;

            @media screen and (max-width:425px) {
                width: 100%;
                height: 100%;
                margin: 0;
            }

            .navbar-anchor {
                display: flex;
                width: auto;
                height: auto;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                border-radius: 10px;
                padding: 18px;
                color: #2d2d2d;
                text-decoration: none;
                transition: all ease-in-out 0.2s;

                @media screen and (max-width:425px) {
                    width: 100%;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 0;
                    padding: 0;
                    box-shadow: none;
                    height: 100%;
                }

                .nav-icon {
                    margin-right: 12px;
                    font-size: 20px;

                    @media screen and (max-width:425px) {
                        margin-right: 0;
                        font-size: 18px;
                    }
                }

                .nav-span {
                    font-size: 16px;

                    @media screen and (max-width:425px) {
                        margin-top: 6px;
                        font-size: 12px;
                    }
                }
            }

            :hover {
                transition: all ease-in-out 0.2s;
                background: #dbe9f7;
                color: #1d92f8;
            }
        }
    }
}