@import '../components/Home/Home.scss';
@import '../components/Items/Items.scss';
@import '../components/Navbar/Navbar.scss';
@import '../components/Reports/Reports.scss';
@import '../components/Transactions/Transactions.scss';
@import '../components/Register/Register.scss';

* {
    @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    position: relative;

    @media screen and (max-width:425px) {
        flex-direction: column-reverse;
    }

}

.Main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f3f7;
    width: 100%;
    height: 100%;
    border-left: 0.2px solid rgba(132, 132, 132, .5);
    box-sizing: border-box;
    margin: auto;
    padding: auto;

    @media screen and (max-width:425px) {
        border-left: none;
        padding: 32px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    width: 240px;
    background: white;
    padding: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    max-height: auto;
    min-height: 360px;
    box-sizing: border-box;

    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);

    @media screen and (max-width:425px) {
        width: 100%;
        height: 100%;
        max-height: fit-content;
    }

    .card-header {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 24px;
        box-sizing: border-box;
    }

    .card-content {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        box-sizing: border-box;
    }

    .card-footer {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
    }
}


.action-card-square {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 240px;
    background: white;
    padding: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 0 24px 24px;

    .action-card-header {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 24px;
        box-sizing: border-box;
    }

    .action-card-content {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
    }

    .action-card-footer {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
    }

}

.sell-bg {
    background: #2cce78;
}

.withdraw-bg {
    background: #fa5b37;
}

.action-sell-title {
    color: #ecfaef;

    text-decoration: none;
}

.action-withdraw-title {
    color: #ffd0d0;
    text-decoration: none;
}


.sell-action {
    color: #ecfaef;
}

.withdraw-action {
    color: #ffd0d0;
}

.no-decoration{
    text-decoration: none;
}

.error-text{
    font-size: 12px;
    color: red;
}