.labelForm {
    font-size: 14px;
    color: #404040;
    margin-bottom: 4px;
    font-weight: 300;
    width: 100%;
}

.inputForm,
input[type=text],
select {
    margin-bottom: 14px;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    width: 100%;
    padding: 12px;
    display: inline-block;
    box-sizing: border-box;

}

:focus {
    outline: none;
}



.submitForm {
    border-radius: 10px;
    background-color: #1e9df7;
    width: 100%;
    color: white;
    border: none;
    padding: 12px 0;
    cursor: pointer;
    margin-top: 10px;
    transition: all ease-in-out 0.2s;
}

.submitForm:hover {
    border-radius: 10px;
    background-color: #303030;
    width: 100%;
    color: #ffffff;
    border: none;
    padding: 12px 0;
    cursor: pointer;
    margin-top: 10px;
    transition: all ease-in-out 0.2s;
}