.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    top: 0;
    left: 0;
    min-width: 280px;
    width: auto;
    flex-direction: column;
    padding: 0 20px;
    background: #f2f3f7;

    @media screen and (max-width:425px) {
        width: 100%;
        flex-direction: row;
        height: 100px;
        padding: 0;
        min-width: none;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 6px;
        color: #fff;
        padding: 18px 0;
        font-weight: 400;
        background: #1d92f8;
        border-radius: 10px;
        margin-top: 24px;

        @media screen and (max-width:425px) {
            display: none;
        }
    }

    .navbar-wrapper{
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;

        .navbar-ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding: 0;
            width: 100%;
            height: auto;
            box-sizing: border-box;
    
            @media screen and (max-width:425px) {
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 100%;
                margin: 0;
            }
    
            .navbar-li {
                height: 100%;
                width: 100%;
    
                @media screen and (max-width:425px) {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
    
                .navbar-anchor {
                    display: flex;
                    width: 100%;
                    height: auto;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: row;
                    border-radius: 10px;
                    padding: 18px;
                    color: #2d2d2d;
                    text-decoration: none;
                    cursor: pointer;
                    transition: all ease-in-out 0.2s;
                    box-sizing: border-box;
                    border: none;
                    background: none;
    
                    @media screen and (max-width:425px) {
                        width: 100%;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 0;
                        padding: 0;
                        box-shadow: none;
                        height: 100%;
                    }
    
                    .nav-icon {
                        margin-right: 12px;
                        font-size: 20px;
    
                        @media screen and (max-width:425px) {
                            margin-right: 0;
                            font-size: 18px;
                        }
                    }
    
                    .nav-span {
                        font-size: 16px;
    
                        @media screen and (max-width:425px) {
                            margin-top: 6px;
                            font-size: 12px;
                        }
                    }
                }
    
                :hover {
                    transition: all ease-in-out 0.2s;
                    background: #dbe9f7;
                    color: #1d92f8;
                }
            }
        }
    }
}